# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Externals
fox
share/genf90

# ignore pycache
__pycache__

# TIDE build artifacts
build*/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
*_output.log

# CMake specific
CPackConfig.cmake
CPackSourceConfig.cmake

# C/C++ specific
*.ilk
*.meta
*.pdb

# Fortran specific
*.smod
*.i90
*.lst

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
